header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
section {
    margin-bottom: 20px;
  }
  

footer {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }


body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    line-height: 1.6; 
    color: #333;
    margin: 0;
    padding: 0;
  }
  

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 2.5rem; 
    color: #3498db; 
  }
  
h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-size: 1.5rem; 
    color: #2c3e50;
  }
  
  
p, ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    font-size: 1rem; 
    color: #555; 
  }
  

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    text-decoration: none;
    color: #2980b9; 
  }
  
a:hover {
    color: #3498db; 
    text-decoration: underline; 
  }
  